<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Bandera</th>
        <th scope="col">Nombre</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody *ngFor="let pais of paises">
      <tr style="justify-content: center;">
        <td > <img [src]="pais.imgBandera" alt=""></td>
        <td>{{ pais.nombre }}</td>
        <td>
          <button class="btn btn-info"
           (click)="avisarNombrePaisElegidoAlPadre(pais.nombre)">
           Elegir
          </button>
        </td>
        <!-- <td><button class="btn btn-info"  [routerLink]="'/peliculas/detalle'"  (click)="traerDetalle(pelicula.id)">Detalle</button></td> -->
      </tr>
    </tbody>
  </table>
</div>
