<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">F. Nacimiento</th>
      <!-- <th scope="col">#</th> -->
    </tr>
  </thead>
  <tbody *ngFor="let actor of datosTraidos">
    <tr style="justify-content: center;" (click)="seEligioActor(actor)">
      <td > <img [src]="actor.foto" alt=""></td>
      <td>{{ actor.nombre }}</td>
      <td>{{ actor.apellido }}</td>
      <td>{{ actor.fecha }}</td>
      <!-- <td><button class="btn btn-info"  [routerLink]="'/peliculas/detalle'"  (click)="traerDetalle(pelicula.id)">Detalle</button></td> -->
    </tr>
  </tbody>
</table>
